<a href="https://colab.research.google.com/github/khizerdotpy/ailab/blob/main/ailab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("they see me rolling,they hating")

they see me rolling,they hating

In [2]:
intd=100
stringname="lawrence"

print(f"his name is {stringname} and his age is {intd}.")

his name is lawrence and his age is 100.

In [3]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
print(f"his name is {name} and his age is {age}.")

Enter your name: lawrence
Enter your age: 20
his name is lawrence and his age is 20.

In [5]:
type(name)

str

In [6]:
type(age)

int

In [7]:
comp=14+4j
print(type(comp))

<class 'complex'>