<a href="https://colab.research.google.com/github/khizerdotpy/ailab/blob/main/lab1/AI_Lab1_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

#**Assigning Values to Variables**

In [ ]:
a = 2  # a is variable , we are assigning int value 2 to a using Equal to Operator (=)
b= 3.3  # b is variable , we are assigning float value 3.3 to a using Equal to Operator (=)
c= 'mehak'  # c is variable , we are assigning string value 'mehak 'to a using Equal to Operator (=)

#**User Input**

In [ ]:
name=input("enter your name")
print(name)

enter your nameAtif
Atif

#**Basic Data Types**

**Numeric Data Type**

In [ ]:
int_data = 17

float_data= 12.6

complex_data = 14 + 5j

print('Data : ', int_data , ', Type : ',type(int_data))

print('Data : ', float_data , ', Type : ',type(float_data))

print('Data : ', complex_data , ', Type : ',type(complex_data))

Data :  17 , Type :  <class 'int'>
Data :  12.6 , Type :  <class 'float'>
Data :  (14+5j) , Type :  <class 'complex'>

**Text Data Type**

In [ ]:
string_data = 'Machine Learning'
string_data_Alphabet = 'a'
string_paragraph = 'Machine learning is a subfield of artificial intelligence that gives computers the ability to learn without explicitly being programmed.'
string_num = '12'
print('Data : ', string_data , ', Type : ',type(string_data))
print('Data : ', string_data_Alphabet, ', Type : ',type(string_data_Alphabet))
print('Data : ', string_paragraph , ', Type : ',type(string_paragraph))
print('Data : ', string_num , ', Type : ',type(string_num))

Data :  Machine Learning , Type :  <class 'str'>
Data :  a , Type :  <class 'str'>
Data :  Machine learning is a subfield of artificial intelligence that gives computers the ability to learn without explicitly being programmed. , Type :  <class 'str'>
Data :  12 , Type :  <class 'str'>

In [ ]:
t = 'Hello World!'

print (t)	# Prints complete string

print(t[:]) # Prints complete string

print (t[0])		# Prints first character of the string

print(t[6:11])	# Prints characters starting from 3rd to 5th

print (t[2:])	# Prints string starting from 3rd character

print (t* 2)	# Prints string two times

print (t + "TEST") # Prints concatenated string

Hello World!
Hello World!
H
World
llo World!
Hello World!Hello World!
Hello World!TEST

#**Data Types to Store Collection**

In [ ]:
list_data = [11,12,13,14,15, 'orange']

tuple_data = (12,15,17 , 'kiran')

set_data = {'ali', 'hassan', 'ayesha' , 12 ,18.6}

range_data = range(1,11)

print('List Data : ', list_data)

print('Tuple Data : ',tuple_data)

print('Set Data : ',set_data)

print('Range Data : ',range_data)

List Data :  [11, 12, 13, 14, 15, 'orange']
Tuple Data :  (12, 15, 17, 'kiran')
Set Data :  {'hassan', 18.6, 'ali', 12, 'ayesha'}
Range Data :  range(1, 11)

#**List Data Type**

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000] # we can store any type of data in List
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print ("list1[0]: ", list1[0]) # Fetching item from index 0
print ("list2[1:5]: ", list2[1:5]) # Fetching item from index 1 to 4


list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ", list[2])

list[2] = 2001
print("New value available at index 2 : ", list[2])



# del item

list = ['physics', 'chemistry', 1997, 2000]
print(list)
del list[2]
print ("After deleting value at index 2 : ", list)

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :  1997
New value available at index 2 :  2001
['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

#**Tuple Data Type**

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )

tinytuple = (123, 'john')

print(tuple)	# Prints complete tuple

print(tuple[0])		# Prints first element of the tuple

print(tuple[1:3])	# Prints elements starting from 2nd till 3rd

print(tuple[2:])		# Prints elements starting from 3rd element

print(tinytuple * 2)	# Prints tuple two times print (tuple + tinytuple) # Prints concatenated tuple


#we can update list but not tuple
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )

list = ['abcd', 786 , 2.23, 'john', 70.2 ]

tuple[2] = 1000	# Invalid syntax with tuple

list[2] = 1000	# Valid syntax with list

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')

TypeError: 'tuple' object does not support item assignment

#**Dictionary Data Type**

In [ ]:
dict = {}

dict['col1'] = "This is col one"

dict[2]= "This is col two"

print('=== Created Dictionary ==== ',dict)

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print(dict['col1'])	# Prints value for 'one' key

print(dict[2])	# Prints value for 2 key

print(tinydict)	# Prints complete dictionary

print(tinydict.keys())	# Prints all the keys

print(tinydict.values()) # Prints all the values

=== Created Dictionary ====  {'col1': 'This is col one', 2: 'This is col two'}
This is col one
This is col two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [ ]:
#Syntax
if expression:
   statement(s)

#**If-Statement**

In [ ]:
age = 18
if age >= 18:
    print("You are eligible to vote.")


salary = 10000
if salary >= 18000:
    print("You are eligible for the loan.")

You are eligible to vote.

#**If and ELse Conditions**

In [ ]:
if expression:
  statement(s)
else:
  statement(s)

In [ ]:
amount = int(input("Enter amount: "))
if amount<1000:

  discount = amount*0.05

  print("Discount",discount)

else:

  discount = amount*0.10

  print("Discount",discount)

  print("Net payable:",amount-discount)

Discount 110000.0
Net payable: 990000.0

#**Multiple Condition**

In [ ]:
if expression1:
  statement(s)
elif expression2:
  statement(s)
elif expression3:
  statement(s)
else: statement(s)

In [ ]:
amount = int(input("Enter amount: "))
if amount<1000:

  discount = amount*0.05
  print("Discount",discount)

elif amount<5000:

  discount = amount*0.10
  print("Discount",discount)

else:

  discount=	amount*0.15
  print ("Discount",discount)
  print ("Net payable:",amount-discount)

Discount 150000000.0
Net payable: 850000000.0

#**While Loop**

In [ ]:
count = 0
while (count < 9):
  print('The count is:', count)
  count = count + 1
  print('Good Bye')

The count is: 0
Good Bye
The count is: 1
Good Bye
The count is: 2
Good Bye
The count is: 3
Good Bye
The count is: 4
Good Bye
The count is: 5
Good Bye
The count is: 6
Good Bye
The count is: 7
Good Bye
The count is: 8
Good Bye

#**For Loop**

In [ ]:
for var in range(5):
  print(var)

0
1
2
3
4

In [ ]:
#other examples

for letter in 'Python': # traversal of a string sequence
  print ('Current Letter :', letter)

fruits = ['banana', 'apple', 'mango']
for fruit in fruits:	# traversal of List sequence
   print ('Current fruit :', fruit)

print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

#**========================= Functions =========================**

In [ ]:
# Function definition is here
def non_paraFunc ():
  print("This is Non_parametric Function")

non_paraFunc()

This is Non_parametric Function

In [ ]:
# Function definition is here
def paraFunc (a,b):
  """This is parametric Function"""
  #Takes the value of a and b parameters provided by the function user
  return a + b

paraFunc(1,2)

3

In [ ]:
# Function definition is here
def changeme( mylist ):
  '''This changes a passed list into this function'''
  print("Values inside the function before change: ", mylist)
  mylist[2]=50
  print ("Values inside the function after change: ", mylist)
  return

#Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
print ("Values outside the function: ", mylist)

Values inside the function before change:  [10, 20, 30]
Values inside the function after change:  [10, 20, 50]
Values outside the function:  [10, 20, 50]

#Return Statement

In [ ]:
# Function definition is here
def sum( arg1, arg2 ):
  # Add both the parameters and return them."
  total = arg1 + arg2
  print ("Inside the function : ", total)
  return total

# Now you can call sum function
total = sum( 10, 20 )
print ("Outside the function : ", total )

Inside the function :  30
Outside the function :  30

#No Return (NOne)

In [ ]:
def print_message(message):
    print('Print Statement : ', message)
    return  # This is equivalent to return None

result = print_message("Hello, World!")
#We cannot store data if nothing is returned from the statement
print(result)  # Output: None

Hello, World!
None

#Retur Something

In [ ]:
def print_message(message):
    print('Print Statement : ', message)
    return message

result = print_message("Hello, World!")
#We cannot store data if soemthing is returned from the statement
print(result)  # Output: Message

Print Statement :  Hello, World!
Hello, World!

#Fixe Parametric Function

In [ ]:
#Function with Fixed Parameters
def add(a, b):
  '''A and B are Fixed Parameters'''
  return a + b

add(1,2,3) #If we provide extra arguments, It will return TypeError

TypeError: add() takes 2 positional arguments but 3 were given

In [ ]:
#Function with Fixed Parameters
def display_names(names):
  '''This is Fixed Parametric Function'''
  return names

display_names('xyz')

'xyz'

#Functions types based on arguments

In [ ]:
#Positional Argument

def details(name,age):
  print('Name : ', name)
  print('Age : ', age)

details(77,'xyz')

Name :  77
Age :  xyz

In [ ]:
#Default Argument

def details(name,age=13):
  print('Name : ', name)
  print('Age : ', age)

details('xyz')

Name :  xyz
Age :  13

In [ ]:
#Keyword  Argument

def details(name,age,height):
  print('Names : ' ,name)
  print('age : ' ,age)
  print('height : ' ,height)

details(name= 'Ali', age= 99, height= 5.5)

Names :  Ali
age :  99
height :  5.5

#Variable Length Functions

In [ ]:
# Variable Length Args Argument

def details(*numbers):
  print('numbers : ' ,numbers)

details(1,2,3)

numbers :  (1, 2, 3)

In [ ]:
#Keyword Variable Length Args Argument

def details(**name):
  print('Names : ' ,name)

details(n1= 'xyz', n2= 'ghf', n3= 'abc')

Names :  {'n1': 'xyz', 'n2': 'ghf', 'n3': 'abc'}