In [1]:
print("they see me rolling,they hating")

they see me rolling,they hating

In [2]:
intd=100
stringname="lawrence"

print(f"his name is {stringname} and his age is {intd}.")

his name is lawrence and his age is 100.

In [3]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
print(f"his name is {name} and his age is {age}.")

Enter your name:  lawrence
Enter your age:  12

his name is lawrence and his age is 12.

In [4]:
type(name)

str

In [5]:
type(age)

int

In [6]:
comp=14+4j
print(type(comp))

<class 'complex'>

In [7]:
print(name[0])

l

In [8]:
print(name[1:4])

awr

In [9]:
print(name[0:])

lawrence

In [10]:
print(name + " crow")

lawrence crow

In [11]:
setdata={"haassaan","maha",45.9,12}
print(f"set: {setdata}")

set: {'haassaan', 12, 45.9, 'maha'}

In [12]:
mylist=[100,200,300,400]

print(f"second element of list: {mylist[1]}")

second element of list: 200

In [13]:
mylist[3]=500
print(f"last element of list: {mylist[3]}")

last element of list: 500

// it will give error

In [14]:
mytuple=(100,200,300,400)
mytuple[3]=500
print(f"last element of list: {mylist[3]}")

TypeError: 'tuple' object does not support item assignment

In [15]:
print(mylist)

[100, 200, 300, 500]

In [16]:
del mylist[2]
print(f"after deletion: {mylist}")

after deletion: [100, 200, 500]

In [17]:
mydict= {'name':'lawrence','title':'crow'}
print(mydict)
print(mydict.keys())
print(mydict.values())

{'name': 'lawrence', 'title': 'crow'}
dict_keys(['name', 'title'])
dict_values(['lawrence', 'crow'])

In [18]:
if age>10:
    print(f"{age} is greater than 10")

12 is greater than 10

In [19]:
if age>10:
print(f"{age} is greater than 10")

IndentationError: expected an indented block after 'if' statement on line 1 (1487446463.py, line 2)

In [20]:
if age>10:
    print(f"{age} is greater than 10")
else:
    print("lesser than 10")

12 is greater than 10

In [21]:
perc=float(input("Enter inter percentage"))

if perc >=80:
    print("eligible for SE and AI")
elif perc >=70:
    print("eligible for CS and DS")
elif perc >=60:
    print("eligible for cybersecurity")
else:
    print("ineligible")

Enter inter percentage 80

eligible for SE and AI

In [22]:
print(mylist)

[100, 200, 500]

In [23]:
del mylist[3]
print(mylist)

IndexError: list assignment index out of range

In [24]:
for var in mylist(range(4)):
    print(var)

TypeError: 'list' object is not callable

In [25]:
mylist

[100, 200, 500]

In [26]:
for var in mylist:
    print(var)

100
200
500

In [28]:
for i in range(3):
    print(mylist[i])

100
200
500

# count=0

while(count<len(mylist)):
    print(mylist[count])
    count=count+0

In [29]:
count=0

while(count<len(mylist)):
    print(mylist[count])
    count=count+1

100
200
500

In [30]:
def non_paraFunc ():
  print("This is Non_parametric Function")

non_paraFunc()

This is Non_parametric Function

In [31]:
def paraFunc (a,b):
  return a + b

paraFunc(1,2)

3

### dict

In [32]:
mydict

{'name': 'lawrence', 'title': 'crow'}

In [33]:
mydict2= {'name': 'lawrence', 'age': 39}
mydict3= {'name': 'hammad', 'age': 11}

In [40]:
print(mydict2['age']+mydict3['age'])

50